[submodule "vim/bundle/flatlandia"]
	path = vim/bundle/flatlandia
	url = git@github.com:jordwalke/flatlandia.git
[submodule "vim/bundle/nerdtree"]
	path = vim/bundle/nerdtree
	url = git@github.com:scrooloose/nerdtree.git
[submodule "vim/bundle/ack"]
	path = vim/bundle/ack
	url = https://github.com/mileszs/ack.vim
[submodule "vim/bundle/vim-commentary"]
	path = vim/bundle/vim-commentary
	url = https://github.com/tpope/vim-commentary
[submodule "vim/bundle/vim-fugitive"]
	path = vim/bundle/vim-fugitive
	url = https://github.com/tpope/vim-fugitive
[submodule "vim/bundle/vim-airline"]
	path = vim/bundle/vim-airline
	url = git@github.com:bling/vim-airline.git
[submodule "vim/bundle/rainbow-parentheses"]
	path = vim/bundle/rainbow-parentheses
	url = git@github.com:kien/rainbow_parentheses.vim.git
[submodule "vim/bundle/vim-clojure-highlight"]
	path = vim/bundle/vim-clojure-highlight
	url = git@github.com:guns/vim-clojure-highlight.git
[submodule "vim/bundle/vim-fireplace"]
	path = vim/bundle/vim-fireplace
	url = git@github.com:tpope/vim-fireplace.git
[submodule "vim/bundle/vim-classpath"]
	path = vim/bundle/vim-classpath
	url = git@github.com:tpope/vim-classpath.git
[submodule "vim/bundle/vim-repeat"]
	path = vim/bundle/vim-repeat
	url = git@github.com:tpope/vim-repeat.git
[submodule "vim/bundle/vim-sexp"]
	path = vim/bundle/vim-sexp
	url = git@github.com:guns/vim-sexp.git
[submodule "vim/bundle/vim-sexp-mappings-for-regular-people"]
	path = vim/bundle/vim-sexp-mappings-for-regular-people
	url = git@github.com:tpope/vim-sexp-mappings-for-regular-people.git
[submodule "vim/bundle/ctrlp"]
	path = vim/bundle/ctrlp
	url = https://github.com/kien/ctrlp.vim
[submodule "vim/bundle/supertab"]
	path = vim/bundle/supertab
	url = git@github.com:ervandew/supertab.git
[submodule "vim/bundle/clojure-fussbudget"]
	path = vim/bundle/clojure-fussbudget
	url = git@github.com:rsslldnphy/clojure-fussbudget.vim.git
[submodule "vim/bundle/wordpress"]
	path = vim/bundle/wordpress
	url = git@github.com:dsawardekar/wordpress.vim.git
[submodule "vim/bundle/vim-octave"]
	path = vim/bundle/vim-octave
	url = git://github.com/jvirtanen/vim-octave.git
[submodule "vim/bundle/fzf"]
	path = vim/bundle/fzf
	url = git@github.com:junegunn/fzf.vim.git
[submodule "vim/bundle/vim-reveal"]
	path = vim/bundle/vim-reveal
	url = git@github.com:blindFS/vim-reveal.git
[submodule "vim/bundle/vim-clojure-static"]
	path = vim/bundle/vim-clojure-static
	url = git@github.com:guns/vim-clojure-static.git
[submodule "vim/bundle/vim-projectionist"]
	path = vim/bundle/vim-projectionist
	url = git://github.com/rsslldnphy/vim-projectionist.git
[submodule "vim/bundle/vim-hashicorp"]
	path = vim/bundle/vim-hashicorp
	url = git@github.com:hashivim/vim-hashicorp-tools.git
[submodule "vim/bundle/vim-hcl"]
	path = vim/bundle/vim-hcl
	url = git@github.com:b4b4r07/vim-hcl.git
