[submodule "vim/bundle/ack"]
	path = vim/bundle/ack
	url = https://github.com/mileszs/ack.vim
[submodule "vim/bundle/commentary"]
	path = vim/bundle/commentary
	url = https://github.com/tpope/vim-commentary
[submodule "vim/bundle/ctrlp"]
	path = vim/bundle/ctrlp
	url = https://github.com/kien/ctrlp.vim
[submodule "vim/bundle/elixir"]
	path = vim/bundle/elixir
	url = https://github.com/elixir-lang/vim-elixir
[submodule "vim/bundle/exercism"]
	path = vim/bundle/exercism
	url = https://github.com/rsslldnphy/vim-exercism
[submodule "vim/bundle/fugitive"]
	path = vim/bundle/fugitive
	url = https://github.com/tpope/vim-fugitive
[submodule "vim/bundle/nerdtree"]
	path = vim/bundle/nerdtree
	url = https://github.com/scrooloose/nerdtree
[submodule "vim/bundle/solarized"]
	path = vim/bundle/solarized
	url = https://github.com/altercation/vim-colors-solarized
[submodule "vim/bundle/flatlandia"]
	path = vim/bundle/flatlandia
	url = git@github.com:jordwalke/flatlandia.git
[submodule "vim/bundle/airline"]
	path = vim/bundle/airline
	url = git@github.com:bling/vim-airline.git
[submodule "vim/bundle/clojure-static"]
	path = vim/bundle/clojure-static
	url = git@github.com:guns/vim-clojure-static.git
[submodule "vim/bundle/paredit"]
	path = vim/bundle/paredit
	url = git@github.com:vim-scripts/paredit.vim.git
[submodule "vim/bundle/rainbow_parens"]
	path = vim/bundle/rainbow_parens
	url = git@github.com:kien/rainbow_parentheses.vim.git
[submodule "vim/bundle/vim-tmux-navigator"]
	path = vim/bundle/vim-tmux-navigator
	url = git@github.com:christoomey/vim-tmux-navigator.git
[submodule "vim/bundle/fireplace"]
	path = vim/bundle/fireplace
	url = git@github.com:tpope/vim-fireplace.git
[submodule "vim/bundle/projectionist"]
	path = vim/bundle/projectionist
	url = git://github.com/tpope/vim-projectionist.git
[submodule "vim/bundle/emoji"]
	path = vim/bundle/emoji
	url = git@github.com:junegunn/vim-emoji.git
